<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535581126744-t4hnrahiu4q97p6c5uge62gfc0q2ouj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535581126744-t4hnrahiu4q97p6c5uge62gfc0q2ouj9</string>
	<key>API_KEY</key>
	<string>AIzaSyBOoiI0crHJ6_y26PQr3Iwv5Z9HWAjImB4</string>
	<key>GCM_SENDER_ID</key>
	<string>535581126744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pushnotification.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-notification-a9f76</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-notification-a9f76.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535581126744:ios:6bfa3e4440692cebdd9a2d</string>
</dict>
</plist>